$transition-default: all 250ms;

.ui-drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    pointer-events: none;

    #ui-drawer-expanded-toggle {
        position: absolute;
        top: 2rem;
        left: 0;
        border: 1px solid #22222222;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 4px #22222222;
        transform: translate(-50%);
        background-color: $bg-default;
        transition: $transition-default;
        z-index: 3;
    }

    #ui-drawer-expanded-toggle:hover {
        box-shadow: 0px 3px 8px #22222233;
    }

    .ui-drawer-overlay {
        width: 100vw;
        height: 100vh;
        background-color: #00000088;
        transition: $transition-default;
        opacity: 0;
    }

    .ui-drawer-container {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #ffffff;
        max-width: calc(100% - 16px);
        width: 380px;
        height: 100vh;
        box-shadow: 0px -2px 4px #22222222;
        transition: $transition-default;
        transform: translate(100%);
        display: flex;
        flex-direction: column;
    }
    .ui-drawer-container.expanded {
        width: 768px;
    }

    .ui-drawer-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #22222222;

        h3 {
            flex: 1;
        }

        .ui-drawer-close-btn {
            font-size: 2rem;
        }
    }
    .ui-drawer-body {
        flex: 1;
    }
    .ui-drawer-footer {
        border-top: 1px solid #22222222;
    }
}

.ui-drawer.open {
    pointer-events: all;
    .ui-drawer-overlay {
        opacity: 1;
    }
    .ui-drawer-container {
        opacity: 1;
        transform: translate(0);
    }
}