$body-bg: #f4f4f4;
$body-color: #666666;
$link-color: #666666;
$link-hover-color: #333333;
$link-decoration: none;
$headings-color: #333333;
$dark: #333333;
$blue: #0466c8;
$primary: $dark;
$secondary: $blue;
$enable-caret: false;
$border-radius: 0;


@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import "./src/components/Sidebar/styles.scss";
@import "./src/components/UI/Drawer/styles.scss";

html,body {
    background-color: #f4f4f4;
}

.form-control {
    background-color: #ffffff;
}

#auth-template main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    #auth-card {
        width: 450px;
    }
}

#default-template {
    display: flex;
}

#default-template main {
    width: 100vw;
    height: 100vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.form-group {
    margin-bottom: 1rem;
}